{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exchange Simulator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Биржа</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block content %}
<form id="connection-form">
  <label for="phone_number">Введите ваш номер телефона:</label><br>
  <input type="number" id="phone_number" required>
  <button type="button" onclick="connectToExchange()">Подключиться</button>
</form>
<br>
<table id="orders_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Creation time</th>
            <th>Change time</th>
            <th>Status</th>
            <th>Side</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Instrument</th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.creation_time }}</td>
            <td>{{ order.change_time }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.side }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.instrument }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<form id="order-widget">
    <label for="instrument-select"></label>
    <br>
    <select name="instruments" id="instrument-select">
        {% for order in orders %}
        <option value="{{ order }}">{{ order.instrument }}</option>
        {% endfor %}
    </select>
    <label for="order_value"></label>
    <input type="number" id="order_value" value="">
</form>

<p id="test"></p>

<script>
    document.getElementById('order-widget').classList.add('hidden');
    let socket;
    let phone_number;
    function connectToExchange() {
        phone_number = document.getElementById("phone_number").value;
        if (phone_number) {
            socket = new WebSocket(`ws://localhost:8000/ws/${phone_number}`);
            socket.onmessage = function(event) {
                document.getElementById("test").innerHTML = "works";
                document.getElementById('connection-form').classList.add('hidden');
                document.getElementById('order-widget').classList.remove('hidden');
            };
        }
    }
    document.getElementById("instrument-select").addEventListener("change", printMsg);
    function printMsg() {
        alert(document.getElementById("instrument-select").value);
        document.getElementById("order_value").value='111';
        console.log((document.getElementById("instrument-select").value.slice(12, -1)));
    }
</script>

{% endblock %}