{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exchange Simulator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Биржа</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block content %}
<form id="connection-form">
  <label for="phone_number">Введите ваш номер телефона:</label><br>
  <input type="number" id="phone_number" required>
  <button type="button" onclick="connectToExchange()">Подключиться</button>
</form>
<br>
<table id="orders_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Creation time</th>
            <th>Change time</th>
            <th>Status</th>
            <th>Side</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Instrument</th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.creation_time }}</td>
            <td>{{ order.change_time }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.side }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.instrument }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<form id="order-widget">
    <p>
        <label for="instrument-select"></label>
        <select name="instruments" id="instrument-select">
            {% for order in orders %}
            <option value="{{ order.id }}">{{ order.instrument }}</option>
            {% endfor %}
        </select>
    </p>
    <p id="order-value-p">
        <label for="order_value"></label>
        <input type="number" id="order_value" value="1000">
    </p>
    <p id="order-price">
        &nbsp;<span id="sell_price"></span> <span id="buy_price"></span>
    </p>
    <p id="order-action">
        &nbsp;<button>Sell</button> <button>Buy</button>
    </p>
</form>

<script>
    document.getElementById('order-widget').classList.add('hidden');
    document.getElementById('order-value-p').classList.add('hidden');
    document.getElementById('order-price').classList.add('hidden');
    document.getElementById('order-action').classList.add('hidden');

    let socket;
    let phone_number;
    function connectToExchange() {
        phone_number = document.getElementById("phone_number").value;
        if (phone_number) {
            socket = new WebSocket(`ws://localhost:8000/ws/${phone_number}`);
            socket.onmessage = function(event) {
                document.getElementById('connection-form').classList.add('hidden');
                document.getElementById('order-widget').classList.remove('hidden');
            };
        }
    }
    document.getElementById("instrument-select").addEventListener("change", printMsg);

    function printMsg() {
        const value = document.getElementById('instrument-select').value;

        document.getElementById('order-value-p').classList.remove('hidden');
        document.getElementById('order-price').classList.remove('hidden');
        document.getElementById('order-action').classList.remove('hidden');

        $.ajax({
            url: '/receive_data',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ 'order_id': value }),
            success: function(response) {
                    document.getElementById('sell_price').innerHTML = response.sell_side_price;
                    document.getElementById('buy_price').innerHTML = response.buy_side_price;
                },
            error: function(error) {
                    console.log(error);
                }
            });
    }
</script>

{% endblock %}