{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exchange Simulator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Биржа</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block header %}{{ header }}{% endblock %}

{% block content %}
<table id="orders_table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Creation time</th>
    <th>Change time</th>
    <th>Status</th>
    <th>Side</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Instrument</th>
  </tr>
  </thead>
  <tbody id="tableBody"></tbody>
</table>

<br>

<form id="order-widget">
  <p>
    <label for="instrument-select"></label>
    <select name="instruments" id="instrument-select">
      <!-- Опции будут добавлены через JavaScript -->
    </select>
  </p>
  <p>
    <label for="amount"></label>
    <input name="order-amount" id="amount" type="number" min="1">
  </p>
</form>

<script>
  const ws = new WebSocket("ws://localhost:8000/ws");
  ws.onmessage = function(event) {
    const data = JSON.parse(event.data);
    const tbody = document.getElementById('tableBody');
    const select = document.getElementById('instrument-select');
    const amount = document.getElementById('amount');
    // Очищаем таблицу и выпадающий список
    tbody.innerHTML = '';
    select.innerHTML = '';
    amount.value = 1;
    // Заполняем таблицу
    data.forEach((row, index)=> {
      const tr = document.createElement('tr');
      tr.innerHTML = `
        <td>${row.id}</td>
        <td>${new Date(row.creation_time).toLocaleString()}</td>
        <td>${new Date(row.change_time).toLocaleString()}</td>
        <td>${row.status}</td>
        <td>${row.side}</td>
        <td>${row.price}</td>
        <td>${row.amount}</td>
        <td>${row.instrument}</td>
      `;
      tbody.appendChild(tr);
      // Добавляем инструмент в выпадающий список
      const option = document.createElement('option');
      option.value = row.id;
      option.textContent = row.instrument;
      // Устанавливаем первый элемент как выбранный
      if (index === 0) {
        option.selected = true;
      }

      select.appendChild(option);
    });
  };
</script>

{% endblock %}